html {
  background-color: #000;
}

body {
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.125em;
}

main, 
footer {
  display: block;
}

main {
  min-height: calc(100vh);
}

h1 {
  margin: 0 0 .25em;
  padding: 0;
}

h2 {
  margin: 0 0 .25em;
  padding: 0;  
}

p {
  margin: 0 0 1em;
  padding: 0;
}

label {
  display: block;
}

input[type='text'] {
  border: none;
  background: none;
  
  color: yellow;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.125em;

  
  display: block;
  font-size: 1em;
  height: 2em;
  outline: none;
  padding: 0;
  text-indent: .5em;
  width: 100%;
}

.container-sm {
  max-width: 600px !important;
}

.sr-only {
  font-size: 0;
  opacity: 0;
  position: absolute;
}
