.App {
  margin: 0 auto;
  max-width: 600px !important;
}

html {
  background-color: #000;
}

body {
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.125em;
  padding: 1em;
}

main {
  display: block;
}

h1 {
  margin: 0 0 .25em;
  padding: 0;
}

h2 {
  margin: 0 0 .25em;
  padding: 0;  
}

p {
  margin: 0 0 1em;
  padding: 0;
}

label {
  display: block;
}

input[type='text'] {
  border: none;
  background: none;  
  color: yellow;
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  height: 2em;
  outline: none;
  padding: 0;
  text-indent: .5em;
  width: 100%;
}

:focus {
  border: none;  
  outline: 2px dashed yellow;
}

.text-right {
  text-align: right;
}

.sr-only {
  font-size: 0;
  opacity: 0;
  position: absolute;
}

.user-input {
  color: yellow;
}

.input-paragraph {
  color: yellow;
  margin-left: 1em;
  text-transform: uppercase;
}

.ui-user-input label {
  align-items:center;
  display: flex;
}
